.review-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .review-title-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        & .left-right-img-side {
            position: relative;
            min-height: 300px;
            width: 20%;
            & .left-image-side,
            & .right-image-side {
                height: auto;
                width: 100%;
                filter: opacity(30%);
                object-fit: contain;
            }
            & .left-image-side {
                rotate: 180deg;
            }
        }
        & .image-title-wrapper {
            display: flex;
            flex-direction: column;
            width: 60%;
            border-radius: 25px;
            border: 2px solid var(--clr-green-plant);
            padding: 20px;
            height: 100px;
            justify-content: center;
            align-items: center;
            position: relative;
            & .image-wrapper {
                width: 40%;
                height: 100%;
                position: absolute;
                top: 100%;
                left: 30%;
                & .image {
                    object-fit: contain;
                }
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    .review-container {
        min-height: 300px;
        & .review-title-wrapper {
            display: flex;
            flex-direction: column;
            width: 98%;
            & .image-title-wrapper {
                width: 99%;
                & .image-wrapper {
                    width: 60%;
                    left: 20%;
                }
            }
            & .left-right-img-side {
                display: none;
            }
        }
    }
}
