.img-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 98;
    .img-top-wrapper {
        position: relative;
        width: 100%;
        height: 300px;
        & .img-top {
            z-index: 10;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
        }
    }
    .img-bottom-wrapper {
        position: relative;
        width: 100%;
        height: 300px;
        & .img-bottom {
            overflow: hidden;
            z-index: 10;
            position: absolute;
            top: 40%;
            transform: translateY(-30%);
            height: auto;
            object-fit: contain;
            object-position: initial;
        }
    }
}
