.right-left-imgs-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    & .left-right-img-side-wrapper {
        position: relative;
        width: 30%;
        height: 100%;
        & .left-img-side,
        & .right-img-side {
            height: 100%;
            width: auto;
            position: absolute;
            object-fit: contain;
            filter: opacity(30%);
        }
        & .right-img-side {
            rotate: 50deg;
        }
    }
    & .center-text-wrapper {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p {
            text-align: center;
            padding: 2rem;
        }
    }
}

@media only screen and (max-width: 620px) {
    .right-left-imgs-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & .left-right-img-side-wrapper,
        & .center-text-wrapper {
            width: 100%;
            & .left-img-side {
                min-height: 400px;
                object-fit: cover;
            }
            & .right-img-side {
                display: none;
            }
        }
    }
}
